	#rl{
  animation: move 3s;
  -webkit-animation: move 3s;
}
@keyframes move {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
            
@-webkit-keyframes move {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
#rl1{
  animation: mov 6s;
  -webkit-animation: mov 6s;
}
@keyframes mov {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
            
@-webkit-keyframes mov {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
#lr{
  animation-name: mv;
  animation-duration: 5s;
  -webkit-animation: mv 3s;
}
@keyframes mv {
  from {
    position: absolute;
    left: -40%;
  }

  to {
    position: absolute;
    left: 30%;
  }
}
            
@-webkit-keyframes mv {
  from {
    margin-left: 0%;
    width: 300%; 
  }

  to {
    margin-left: 100%;
    width: 100%;
  }
}
#lr1{
  animation: m 6s;
  -webkit-animation: m 6s;
}
@keyframes m {
  from {
    position: absolute;
    left: -50%;
  }

  to {
    position: absolute;
    left: 30%;
  }
}
            
@-webkit-keyframes m {
  from {
    margin-left: 0%;
    width: 300%; 
  }

  to {
    margin-left: 100%;
    width: 100%;
  }
}

body{
	background-image: url("../images/bbx.jpg");
  margin: 0;
}
#bd{
	text-align: center;
	color: white;
	font-size: 300%;
}
footer{
	text-align: center;
	color: white;
}
.topnav {
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    z-index: 1

}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}	